*.ipynb*
*.egg-info
doc/build/ 
doc/source/_templates
*.egg-info
*/_build/ 

*__pycache__*
experiments/ATACseq/brain_bipca.h5ad
experiments/ATACseq/pbmcs_bipca.h5ad
experiments/ATACseq/brain/brain.h5ad
experiments/DEgenes/bulk_DEgenes.r
experiments/DEgenes/convert_scrnaseq.r
experiments/DEgenes/scRNA_DE.r
experiments/DEgenes/scrnaseq_SCT.R
experiments/SMART-seq/mtg_bipca_bc.h5ad
experiments/SMART-seq/mtg_filtered_10min_nz_bipca.h5ad
experiments/SMART-seq/mtg_filtered_100min_nz_bipca.h5ad
experiments/SMART-seq/mtg_filtered_500min_nz_bipca.h5ad
experiments/SNPs/test5000_bipca.h5ad
experiments/SNPs/test5000_sparse.h5ad
experiments/SNPs/test5000.h5ad
experiments/UM1/NIH1889_OUD.h5ad
experiments/bulk_rna/core
experiments/bulk_rna/gtex_brain_bipca_bc.h5ad
experiments/bulk_rna/gtexbrain.npz
experiments/bulk_rna/junctions.h5ad
experiments/bulk_rna/tumor.h5ad
experiments/compile_figures/1.png
experiments/compile_figures/clusters/MP.png
experiments/compile_figures/clusters/spectrum.png
experiments/compile_figures/epigenomics/scatacseq.png
experiments/compile_figures/pbmc33k/denoising_spectrum.png
experiments/compile_figures/pbmc33k/MP.png
experiments/compile_figures/pbmc33k/shrinkage.png
experiments/compile_figures/spatial_transcriptomics/10x_visium.png
experiments/compile_figures/spatial_transcriptomics/dbitfish.png
experiments/compile_figures/spatial_transcriptomics/ST.png
experiments/compile_figures/um1/ctr_oud.png
experiments/compile_figures/um1/PFC.png
experiments/compile_figures/zheng_pbmcs/classifier_tsne.png
experiments/compile_figures/zheng_pbmcs/vargenes_tsne.png
experiments/kobak_examples/b_estimate.npy
experiments/kobak_examples/b_gt.npy
experiments/kobak_examples/c_estimate.npy
experiments/kobak_examples/c_gt.npy
experiments/kobak_examples/counts_generated.pickle
experiments/kobak_examples/KS.npy
experiments/pbmcs/accuracy.npy
experiments/pbmcs/boris_33k.mat
experiments/pbmcs/classifier_all.png
experiments/pbmcs/classifier_tsne.jpg
experiments/pbmcs/classifier_tsne.png
experiments/pbmcs/core
experiments/pbmcs/f1.npy
experiments/pbmcs/filtered.h5ad
experiments/pbmcs/knn_scores.pkl
experiments/pbmcs/monocytes_downsampled.h5ad
experiments/pbmcs/pbmc33k_bipca_bc.h5ad
experiments/pbmcs/pbmcs.h5ad
experiments/pbmcs/precision.npy
experiments/pbmcs/protein_class_CD.tsv
experiments/pbmcs/vargenes_tsne.png
experiments/pbmcs/classifier_results/accuracy.npy
experiments/pbmcs/classifier_results/f1.npy
experiments/pbmcs/classifier_results/precision.npy
experiments/pbmcs/classifier_results_nohelper/accuracy.npy
experiments/pbmcs/classifier_results_nohelper/f1.npy
experiments/pbmcs/classifier_results_nohelper/precision.npy
experiments/pbmcs/tsne_results/ALRA_40_TSNE.npy
experiments/pbmcs/tsne_results/ALRA_80_TSNE.npy
experiments/pbmcs/tsne_results/ALRA_160_TSNE.npy
experiments/pbmcs/tsne_results/ALRA_512_TSNE.npy
experiments/pbmcs/tsne_results/ALRA_12794_TSNE.npy
experiments/pbmcs/tsne_results/ALRA_CD_TSNE.npy
experiments/pbmcs/tsne_results/biPCA_40_TSNE.npy
experiments/pbmcs/tsne_results/biPCA_80_TSNE.npy
experiments/pbmcs/tsne_results/biPCA_160_TSNE.npy
experiments/pbmcs/tsne_results/biPCA_512_TSNE.npy
experiments/pbmcs/tsne_results/biPCA_12794_TSNE.npy
experiments/pbmcs/tsne_results/biPCA_CD_TSNE.npy
experiments/pbmcs/tsne_results/log1p_40_TSNE.npy
experiments/pbmcs/tsne_results/log1p_80_TSNE.npy
experiments/pbmcs/tsne_results/log1p_160_TSNE.npy
experiments/pbmcs/tsne_results/log1p_512_TSNE.npy
experiments/pbmcs/tsne_results/log1p_12794_TSNE.npy
experiments/pbmcs/tsne_results/log1p_CD_TSNE.npy
experiments/pbmcs/tsne_results/Sanity_40_TSNE.npy
experiments/pbmcs/tsne_results/Sanity_80_TSNE.npy
experimen*.ipynb*
s/pbmcs/tsne_results/Sanity_160_TSNE.npy
experiments/pbmcs/tsne_results/Sanity_512_TSNE.npy
experiments/pbmcs/tsne_results/Sanity_12794_TSNE.npy
experiments/pbmcs/tsne_results/Sanity_CD_TSNE.npy
experiments/pbmcs/tsne_results/scTransform_40_TSNE.npy
experiments/pbmcs/tsne_results/scTransform_80_TSNE.npy
experiments/pbmcs/tsne_results/scTransform_160_TSNE.npy
experiments/pbmcs/tsne_results/scTransform_512_TSNE.npy
experiments/pbmcs/tsne_results/scTransform_12794_TSNE.npy
experiments/pbmcs/tsne_results/scTransform_CD_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/ALRA_40_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/ALRA_80_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/ALRA_160_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/ALRA_512_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/ALRA_12794_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/ALRA_CD_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/biPCA_40_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/biPCA_80_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/biPCA_160_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/biPCA_512_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/biPCA_12794_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/biPCA_CD_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/log1p_40_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/log1p_80_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/log1p_160_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/log1p_512_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/log1p_12794_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/log1p_CD_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/Sanity_40_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/Sanity_80_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/Sanity_160_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/Sanity_512_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/Sanity_12794_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/Sanity_CD_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/scTransform_40_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/scTransform_80_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/scTransform_160_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/scTransform_512_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/scTransform_12794_TSNE.npy
experiments/pbmcs/tsne_results_nohelper/scTransform_CD_TSNE.npy
experiments/simulation/core

python/tests/test_data/*.jpg
python/tests/test_data/*.h5ad